#title {
    font-size: 40px;
    background: -webkit-linear-gradient(rgb(190, 22, 196), rgb(199, 36, 36));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
}

p {
    font-size: 40px;
    color: red;
}
#content {
    font-family: 'Fredoka One', cursive;
    margin: auto;
    text-align: center;
}

#btn {
    font-family: 'Fredoka One', cursive;
    background-color: rgb(246, 170, 183);
    width: 500px;
    height: 100px;
    border: 7px solid black;
    border-radius: 16px;
    font-size: 20px;
}

table {
    margin: auto;
}
table, th, tr, td {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    border-radius: 5px;
    border: 6px solid black;
}

tr, td {
    height: 39px;
}